{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <div class="profile-details">
        <div>
            <table>

                <tr>
                    <td><h1>Username:</h1></td>
                    <td><h1>{{ profile_details.username }} </h1>
                </tr>
                {% if profile_details.first_name %}
                    <tr>
                        <td><h1>First name:</h1></td>
                        <td><h1>{{ profile_details.first_name }}</h1>
                    </tr>
                {% endif %}
                {% if profile_details.last_name %}
                    <tr>
                        <td><h1>Last name:</h1></td>
                        <td><h1>{{ profile_details.last_name }}</h1>
                    </tr>
                {% endif %}
                {% if profile_details.rating %}
                    <tr>
                        <td><h1>Rating:</h1></td>
                        <td><h1>{{ profile_details.rating }}</h1>
                    </tr>
                {% endif %}
                {% if profile_details.date_of_birth %}
                    <tr>
                        <td><h1>Age:</h1></td>
                        <td><h1>{{ profile_details.date_of_birth|turn_birth_year_to_age }}</h1>
                    </tr>
                {% endif %}
                {% if profile_details.gender %}
                    <tr>
                        <td><h1>Gender:</h1></td>
                        <td><h1>{{ profile_details.gender }}</h1>
                    </tr>

                {% endif %}

            </table>
        </div>
        <div>
            <button><a href="{% url 'profile edit' request.user.pk %}">Edit Profile</a></button>

        </div>

    </div>


{% endblock %}