.profile-dropdown, .collections-dropdown {
  position: relative;
  display: inline-block;
}

.profile-dropdown-content, .collections-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.profile-dropdown-content a, .collections-dropdown-content a {
    display: block;
}

.profile-dropdown:hover .profile-dropdown-content,
.collections-dropdown:hover .collections-dropdown-content {
  display: block;
}