.board-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 7px;
}

.board, .board-small {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.board-small {
    width: 120px;
    height: 120px;
}

.black {
    background-color: darkgray;
}

.white {
    background-color: lightgrey;
}

.square {
    display: block;
    width: 12.5%;
    height: 12.5%;
}

.square img {
    width: 100%;
    height: 100%;
}

.positions-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
    margin: 0px 10%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 20px solid black;

    margin-left: 7px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 20px solid whitesmoke;

    margin-top: 7px;
    margin-right: 7px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 20px solid whitesmoke;

    margin-top: 7px;
    margin-left: 7px;
}

.white-to-move {
    border-top-color: whitesmoke;
}

.numbering {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
}