{% extends 'base.html' %}
{% block content %}
    <div class="positions-list">
        {% for position in object_list %}
            <a href="{% url 'position details' position.pk %}">
                <div class="board-card">
                    <div class="board-small">
                        {% for square_data in position.squares_data %}
                            <div class="{{ square_data.color }}">
                                {% if square_data.occupied_by %}
                                    <img src="{{ square_data.occupied_by }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                        {#        Use the code bellow if you need to refactor the squares of the template#}
                        {#for row in range(8):#}
                        {#    for col in range(1, 9, 1):#}
                        {#        square = f"{chr(96 + col)}{8 - row}"#}
                        {#        print(#}
                        {#            f'<div class="{{{{ position.squares_dict.{square}.color }}}}" >'#}
                        {#            f'\n{{% if position.squares_dict.{square}.occupied_by %}}'#}
                        {#            f'\n<img src="{{{{ position.squares_dict.{square}.occupied_by }}}}">'#}
                        {#            f'\n{{% endif %}}'#}
                        {#            f'\n</div>')#}
                        {#                <div class="{{ position.squares_dict.a8.color }}">#}
                        {#                    {% if position.squares_dict.a8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b8.color }}">#}
                        {#                    {% if position.squares_dict.b8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c8.color }}">#}
                        {#                    {% if position.squares_dict.c8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d8.color }}">#}
                        {#                    {% if position.squares_dict.d8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e8.color }}">#}
                        {#                    {% if position.squares_dict.e8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f8.color }}">#}
                        {#                    {% if position.squares_dict.f8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g8.color }}">#}
                        {#                    {% if position.squares_dict.g8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h8.color }}">#}
                        {#                    {% if position.squares_dict.h8.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h8.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a7.color }}">#}
                        {#                    {% if position.squares_dict.a7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b7.color }}">#}
                        {#                    {% if position.squares_dict.b7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c7.color }}">#}
                        {#                    {% if position.squares_dict.c7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d7.color }}">#}
                        {#                    {% if position.squares_dict.d7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e7.color }}">#}
                        {#                    {% if position.squares_dict.e7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f7.color }}">#}
                        {#                    {% if position.squares_dict.f7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g7.color }}">#}
                        {#                    {% if position.squares_dict.g7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h7.color }}">#}
                        {#                    {% if position.squares_dict.h7.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h7.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a6.color }}">#}
                        {#                    {% if position.squares_dict.a6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b6.color }}">#}
                        {#                    {% if position.squares_dict.b6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c6.color }}">#}
                        {#                    {% if position.squares_dict.c6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d6.color }}">#}
                        {#                    {% if position.squares_dict.d6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e6.color }}">#}
                        {#                    {% if position.squares_dict.e6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f6.color }}">#}
                        {#                    {% if position.squares_dict.f6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g6.color }}">#}
                        {#                    {% if position.squares_dict.g6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h6.color }}">#}
                        {#                    {% if position.squares_dict.h6.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h6.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a5.color }}">#}
                        {#                    {% if position.squares_dict.a5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b5.color }}">#}
                        {#                    {% if position.squares_dict.b5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c5.color }}">#}
                        {#                    {% if position.squares_dict.c5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d5.color }}">#}
                        {#                    {% if position.squares_dict.d5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e5.color }}">#}
                        {#                    {% if position.squares_dict.e5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f5.color }}">#}
                        {#                    {% if position.squares_dict.f5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g5.color }}">#}
                        {#                    {% if position.squares_dict.g5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h5.color }}">#}
                        {#                    {% if position.squares_dict.h5.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h5.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a4.color }}">#}
                        {#                    {% if position.squares_dict.a4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b4.color }}">#}
                        {#                    {% if position.squares_dict.b4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c4.color }}">#}
                        {#                    {% if position.squares_dict.c4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d4.color }}">#}
                        {#                    {% if position.squares_dict.d4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e4.color }}">#}
                        {#                    {% if position.squares_dict.e4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f4.color }}">#}
                        {#                    {% if position.squares_dict.f4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g4.color }}">#}
                        {#                    {% if position.squares_dict.g4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h4.color }}">#}
                        {#                    {% if position.squares_dict.h4.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h4.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a3.color }}">#}
                        {#                    {% if position.squares_dict.a3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b3.color }}">#}
                        {#                    {% if position.squares_dict.b3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c3.color }}">#}
                        {#                    {% if position.squares_dict.c3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d3.color }}">#}
                        {#                    {% if position.squares_dict.d3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e3.color }}">#}
                        {#                    {% if position.squares_dict.e3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f3.color }}">#}
                        {#                    {% if position.squares_dict.f3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g3.color }}">#}
                        {#                    {% if position.squares_dict.g3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h3.color }}">#}
                        {#                    {% if position.squares_dict.h3.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h3.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a2.color }}">#}
                        {#                    {% if position.squares_dict.a2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b2.color }}">#}
                        {#                    {% if position.squares_dict.b2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c2.color }}">#}
                        {#                    {% if position.squares_dict.c2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d2.color }}">#}
                        {#                    {% if position.squares_dict.d2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e2.color }}">#}
                        {#                    {% if position.squares_dict.e2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f2.color }}">#}
                        {#                    {% if position.squares_dict.f2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g2.color }}">#}
                        {#                    {% if position.squares_dict.g2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h2.color }}">#}
                        {#                    {% if position.squares_dict.h2.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h2.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.a1.color }}">#}
                        {#                    {% if position.squares_dict.a1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.a1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.b1.color }}">#}
                        {#                    {% if position.squares_dict.b1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.b1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.c1.color }}">#}
                        {#                    {% if position.squares_dict.c1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.c1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.d1.color }}">#}
                        {#                    {% if position.squares_dict.d1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.d1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.e1.color }}">#}
                        {#                    {% if position.squares_dict.e1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.e1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.f1.color }}">#}
                        {#                    {% if position.squares_dict.f1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.f1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.g1.color }}">#}
                        {#                    {% if position.squares_dict.g1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.g1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                        {#                <div class="{{ position.squares_dict.h1.color }}">#}
                        {#                    {% if position.squares_dict.h1.occupied_by %}#}
                        {#                        <img src="{{ position.squares_dict.h1.occupied_by }}">#}
                        {#                    {% endif %}#}
                        {#                </div>#}
                    </div>
                    <div class="board-info">
                        <div class="arrow-down
                {% if position.is_white_to_move %}
                white-to-move
                {% endif %}"></div>


                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="numbering">
        {% if page_obj.has_previous %}
            <h1><a href="?page={{ page_obj.previous_page_number }}">
                <div class="arrow-left">
                </div>
            </a></h1>
        {% endif %}
        <h1>{{ page_obj.number }}</h1>
        {% if page_obj.has_next %}
            <h1><a href="?page={{ page_obj.next_page_number }}">
                <div class="arrow-right">
                </div>
            </a></h1>
        {% endif %}
    </div>

{% endblock %}