{% extends 'base.html' %}
{% block content %}
    <div class="positions-list">
        {% for position in object_list %}
            <a href="{% url 'position details' position.pk %}">
                <div class="board-card">
                    <div class="board-small">
                        {% for square_data in position.squares_data %}
                            <div class="{{ square_data.color }}">
                                {% if square_data.occupied_by %}
                                    <img src="{{ square_data.occupied_by }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                        {#        Old help code code bellow if you need to refactor the squares of the template when using squares dict instead of squares data#}
                        {#for row in range(8):#}
                        {#    for col in range(1, 9, 1):#}
                        {#        square = f"{chr(96 + col)}{8 - row}"#}
                        {#        print(#}
                        {#            f'<div class="{{{{ position.squares_dict.{square}.color }}}}" >'#}
                        {#            f'\n{{% if position.squares_dict.{square}.occupied_by %}}'#}
                        {#            f'\n<img src="{{{{ position.squares_dict.{square}.occupied_by }}}}">'#}
                        {#            f'\n{{% endif %}}'#}
                        {#            f'\n</div>')#}

                    </div>
                    <div class="board-info">
                        <div class="arrow-down
                {% if position.is_white_to_move %}
                white-to-move
                {% endif %}"></div>


                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="numbering">
        {% if page_obj.has_previous %}
            <h1><a href="?page={{ page_obj.previous_page_number }}">
                <div class="arrow-left">
                </div>
            </a></h1>
        {% endif %}
        <h1>{{ page_obj.number }}</h1>
        {% if page_obj.has_next %}
            <h1><a href="?page={{ page_obj.next_page_number }}">
                <div class="arrow-right">
                </div>
            </a></h1>
        {% endif %}
    </div>

{% endblock %}