{% extends 'base.html' %}
{% block content %}
    <main class="wrapper">
        <div class="board">
            {% for square_data in position.squares_data %}
                <div class="{{ square_data.color }}">
                    {% if square_data.occupied_by %}
                        <img src="{{ square_data.occupied_by }}">
                    {% endif %}
                </div>
            {% endfor %}

            {#        Old help code code bellow if you need to refactor the squares of the template when using squares dict instead of squares data#}
            {#for row in range(8):#}
            {#    for col in range(1, 9, 1):#}
            {#        square = f"{chr(96 + col)}{8 - row}"#}
            {#        print(#}
            {#            f'<div class="{{{{ position.squares_dict.{square}.color }}}}" >'#}
            {#            f'\n{{% if position.squares_dict.{square}.occupied_by %}}'#}
            {#            f'\n<img src="{{{{ position.squares_dict.{square}.occupied_by }}}}">'#}
            {#            f'\n{{% endif %}}'#}
            {#            f'\n</div>')#}

        </div>
        <details>
            <p>White Player:</p>
            <p>Black Player:</p>
            <p>Tournament:</p>
            <p>Evaluation: {{ position.evaluation }}</p>
            <p>Side to move:
                {% if position.is_white_to_move %}
                    White
                {% else %}
                    Black
                {% endif %}
            </p>
        </details>
    </main>
{% endblock %}