{% extends 'base.html' %}
{% load filters_collection %}

{% block content %}
    <script>
        function openEngineSettingsForm() {
            const evalContainer = document.getElementById('evaluateButton');
            const formContainer = document.getElementById('formContainer');

            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
                evalContainer.style.display = 'none';
            }
            {#const evalContainer = document.getElementById('evaluateButton')#}
            {##}
            {#const engineSettingsForm = '{% csrf_token %}{{ form.as_p }}'#}
            {##}
            {#evalContainer.innerHTML = '<form method="post">' + engineSettingsForm + '<button type="submit">Submit</button></form>';#}

        }

        function analysingBar() {
            const formContainer = document.getElementById('formContainer');
            let dot_counter = 0

            const interval = setInterval(() => {
                formContainer.textContent = "Analysing" + ".".repeat(dot_counter);
                dot_counter += 1;
                if (dot_counter > 3) {
                    dot_counter = 0
                }
            }, 300);
        }
    </script>
    <main class="wrapper">
        <div class="board">
            {% if squares_data %}
                {% for square_data in squares_data %}
                    <div class="{{ square_data.color }}">
                        {% if square_data.occupied_by %}
                            <img src="{{ square_data.occupied_by }}">
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                {% for square_data in position.squares_data %}
                    <div class="{{ square_data.color }}">
                        {% if square_data.occupied_by %}
                            <img src="{{ square_data.occupied_by }}">
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {#        Old help code code bellow if you need to refactor the squares of the template when using squares dict instead of squares data#}
            {#for row in range(8):#}
            {#    for col in range(1, 9, 1):#}
            {#        square = f"{chr(96 + col)}{8 - row}"#}
            {#        print(#}
            {#            f'<div class="{{{{ position.squares_dict.{square}.color }}}}" >'#}
            {#            f'\n{{% if position.squares_dict.{square}.occupied_by %}}'#}
            {#            f'\n<img src="{{{{ position.squares_dict.{square}.occupied_by }}}}">'#}
            {#            f'\n{{% endif %}}'#}
            {#            f'\n</div>')#}

        </div>
        <div class="side-info">
            <h2>
                <article>
                    <p>White Player: {% if position.white_player %}{{ position.white_player }}{% endif %}</p>
                    <p>White Rating: {% if position.white_rating %}{{ position.white_rating }}{% endif %}</p>
                    <p>Black Player: {% if position.black_player %}{{ position.black_player }}{% endif %}</p>
                    <p>Black Rating: {% if position.black_rating %}{{ position.black_rating }}{% endif %}</p>
                    <p>Tournament: {% if position.tournament %}{{ position.tournament }}{% endif %}</p>

                    {% if engine_lines %}
                        {% for line in engine_lines %}
                            <div class="line-wrapper">
                            <p>{{ line.evaluation }}</p>
                            {% for move in line.line_moves %}
                                <a href="{% url 'position line' position.pk line.rank move.halfmove %}">
                                    <p>
                                        {{ move.halfmove|to_move_number:position.is_white_to_move }}
                                        {{ move.notation }}
                                    </p></a>
                                {% endfor %}

                            </div>

                        {% endfor %}
                        <div id="evaluateButton" onclick="openEngineSettingsForm()">
                            <button>Check Again</button>
                        </div>
                    {% else %}
                        <div id="evaluateButton" onclick="openEngineSettingsForm()">
                            <button>Evaluate</button>
                        </div>
                    {% endif %}
                    <div id="formContainer" style="display: none;">
                        <form id="engineSettingsForm" method="post" onsubmit="analysingBar()">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="position_pk" value="{{ position.pk }}">
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    {#                    {% if position.evaluation %}#}
                    {#                        <p>Evaluation: {{ position.evaluation }} </p>#}
                    {#                        <div id="evaluateButton" onclick="openEngineSettingsForm()"><button>Check Again</button></div>#}
                    {#                    {% else %}#}
                    {#                        <div id="evaluateButton" onclick="openEngineSettingsForm()"><button>Evaluate</button></div>#}
                    {#                    {% endif %}#}
                    {#                    <div id="formContainer" style="display: none;">#}
                    {#                        <form id="engineSettingsForm" method="post" onsubmit="analysingBar()">#}
                    {#                            {% csrf_token %}#}
                    {#                            {{ form.as_p }}#}
                    {#                            <input type="hidden" name="position_pk" value="{{ position.pk }}">#}
                    {#                            <button type="submit">Submit</button>#}
                    {#                        </form>#}
                    {#                    </div>#}
                    {#                <form id="evaluateForm" method="post" action="{% url 'position evaluate' %}">#}
                    {#                    {% csrf_token %}#}
                    {#                    <input type="hidden" name="pk" value="{{ position.pk }}">#}
                    {#                    <input type="number" name="depth">#}
                    {#                    <button type="submit">Evaluate</button>#}
                    {#                </form>#}
                    {##}
                    {#                    {% if position.best_lines %}#}
{#                                            {% for line in position.best_lines_list %}#}
                    {#                            <div class="line-wrapper">#}
                    {#                                <p>{{ line.evaluation }}</p>#}
                    {#                                {% for move in line.moves %}#}
                    {#                                    <a href="{% url 'position line' position.pk line.rank move.halfmove %}">#}
                    {#                                        <p>#}
                    {#                                            {{ move.halfmove|to_move_number:position.is_white_to_move }}#}
                    {#                                            {{ move.notation }}#}
                    {#                                        </p></a>#}
                    {#                                {% endfor %}#}
                    {#                            </div>#}
                    {#                        {% endfor %}#}
                    {##}
                    {#                    {% endif %}#}
                    <h2>Side to move:
                        {% if position.is_white_to_move %}
                            White
                        {% else %}
                            Black
                        {% endif %}
                    </h2>
                    <div>
                        <button><a href="{% url 'position edit' position.pk %}">Edit Position</a></button>
                        <button><a href="{% url 'position delete' position.pk %}">Delete Position</a></button>
                    </div>
                </article>
            </h2>
            <div class="comments">

                <div class="com-form">
                    <form id="commentForm" method="post">
                        {% csrf_token %}
                        <h1>
                            {{ comment_form.as_p }}
                        </h1>
                        <input type="hidden" name="position_pk" value="{{ position.pk }}">
                        <button type="submit">Submit</button>
                    </form>
                </div>

                {% if position.fencomment_set.all %}
                    {% for comment in position.fencomment_set.all %}
                        <comment>
                            <div class="comment-card">
                                <div>
                                    {{ comment.to_user }}
                                    <p>{{ comment.date_time_of_publication }}</p>
                                </div>
                                <div>
                                    {{ comment.content }}

                                    <a href="{% url 'comment delete' comment.pk %}">Delete Comment</a>
                                </div>
                            </div>
                        </comment>
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </main>
    {% block crud_window %}
    {% endblock %}
{% endblock %}