{% extends 'base.html' %}
{% block content %}
    <script>
        function openEngineSettingsForm() {
            const evalContainer = document.getElementById('evaluateButton');
            const formContainer = document.getElementById('formContainer');

            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
                evalContainer.style.display = 'none';
            }
            {#const evalContainer = document.getElementById('evaluateButton')#}
            {##}
            {#const engineSettingsForm = '{% csrf_token %}{{ form.as_p }}'#}
            {##}
            {#evalContainer.innerHTML = '<form method="post">' + engineSettingsForm + '<button type="submit">Submit</button></form>';#}

        }

        function analysingBar() {
            const formContainer = document.getElementById('formContainer');
            let dot_counter = 0

            const interval = setInterval(() => {
                formContainer.textContent = "Analysing" + ".".repeat(dot_counter);
                dot_counter += 1;
                if (dot_counter > 3) {
                    dot_counter = 0
                }
            }, 300);
            }
    </script>
    <main class="wrapper">
        <div class="board">
            {% for square_data in position.squares_data %}
                <div class="{{ square_data.color }}">
                    {% if square_data.occupied_by %}
                        <img src="{{ square_data.occupied_by }}">
                    {% endif %}
                </div>
            {% endfor %}

            {#        Old help code code bellow if you need to refactor the squares of the template when using squares dict instead of squares data#}
            {#for row in range(8):#}
            {#    for col in range(1, 9, 1):#}
            {#        square = f"{chr(96 + col)}{8 - row}"#}
            {#        print(#}
            {#            f'<div class="{{{{ position.squares_dict.{square}.color }}}}" >'#}
            {#            f'\n{{% if position.squares_dict.{square}.occupied_by %}}'#}
            {#            f'\n<img src="{{{{ position.squares_dict.{square}.occupied_by }}}}">'#}
            {#            f'\n{{% endif %}}'#}
            {#            f'\n</div>')#}

        </div>
        <article>
            <p>White Player: {{ position.white_player }}</p>
            <p>White Rating: {{ position.white_rating }}</p>
            <p>Black Player: {{ position.black_player }}</p>
            <p>Black Rating: {{ position.black_rating }}</p>
            <p>Tournament: {{ position.tournament }}</p>

            {% if position.evaluation %}
                <p>Evaluation: {{ position.evaluation }} </p>
                <div id="evaluateButton" onclick="openEngineSettingsForm()">Check Again</div>
            {% else %}
                <div id="evaluateButton" onclick="openEngineSettingsForm()">Evaluate</div>
            {% endif %}
            <div id="formContainer" style="display: none;">
                <form id="engineSettingsForm" method="post" onsubmit="analysingBar()">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="position_pk" value="{{ position.pk }}">
                    <button type="submit">Submit</button>
                </form>
            </div>
            {#                <form id="evaluateForm" method="post" action="{% url 'position evaluate' %}">#}
            {#                    {% csrf_token %}#}
            {#                    <input type="hidden" name="pk" value="{{ position.pk }}">#}
            {#                    <input type="number" name="depth">#}
            {#                    <button type="submit">Evaluate</button>#}
            {#                </form>#}


            <p>Side to move:
                {% if position.is_white_to_move %}
                    White
                {% else %}
                    Black
                {% endif %}
            </p>
            <div>
                <a href="{% url 'position edit' position.pk %}">Edit Position</a>
                <a href="{% url 'position delete' position.pk %}">Delete Position</a>
            </div>
        </article>

        <comment>
            <form id="commentForm" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="hidden" name="position_pk" value="{{ position.pk }}">
                <button type="submit">Submit</button>
            </form>
            {% if position.fencomment_set.all %}
                {% for comment in position.fencomment_set.all %}
                    <div>
                        {{ comment.to_user }}
                        {{ comment.content }}
                        <a href="{% url 'comment delete' comment.pk %}">Delete Comment</a>
                    </div>
                {% endfor %}
            {% endif %}
        </comment>
    </main>
    {% block crud_window %}
    {% endblock %}
{% endblock %}