{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FEN Reader</title>
    {% csrf_token %}
    <link rel="stylesheet" href="/static/css/board-styles.css">
    <script type="text/javascript" src="/static/scripts/board-drag-script.js"></script>

</head>
<body>
<header></header>
<main>
{{ squares }}
    <div class="board">
        {% for square_data in squares_data %}
            <div class="{{ square_data.color }}">
                {% if square_data.occupied_by %}
                    <img src="{{ square_data.occupied_by }}">
                {% endif %}
            </div>
        {% endfor %}
        {#        Use the code bellow if you need to refactor the squares of the template#}
        {#for row in range(8):#}
        {#    for col in range(1, 9, 1):#}
        {#        square = f"{chr(96 + col)}{8 - row}"#}
        {#        print(f'<div id={square} class="{{{{ squares.{square}.color }}}}" ondrop="drop(event)" ondragover="allowDrop(event)">'#}
        {#              f'\n{{% if squarOes.{square}.occupied_by %}}'#}
        {#              f'\n<img id=piece_at{square} src="{{{{ squares.{square}.occupied_by }}}}" draggable="true" ondragstart="drag(event)">'#}
        {#              f'\n{{% endif %}}'#}
        {#              f'\n</div>')#}
        {#        <div id=a8 class="{{ squares.a8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a8.occupied_by %}#}
        {#                <img id=piece_ata8 src="{{ squares.a8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b8 class="{{ squares.b8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b8.occupied_by %}#}
        {#                <img id=piece_atb8 src="{{ squares.b8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c8 class="{{ squares.c8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c8.occupied_by %}#}
        {#                <img id=piece_atc8 src="{{ squares.c8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d8 class="{{ squares.d8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d8.occupied_by %}#}
        {#                <img id=piece_atd8 src="{{ squares.d8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e8 class="{{ squares.e8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e8.occupied_by %}#}
        {#                <img id=piece_ate8 src="{{ squares.e8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f8 class="{{ squares.f8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f8.occupied_by %}#}
        {#                <img id=piece_atf8 src="{{ squares.f8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g8 class="{{ squares.g8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g8.occupied_by %}#}
        {#                <img id=piece_atg8 src="{{ squares.g8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h8 class="{{ squares.h8.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h8.occupied_by %}#}
        {#                <img id=piece_ath8 src="{{ squares.h8.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a7 class="{{ squares.a7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a7.occupied_by %}#}
        {#                <img id=piece_ata7 src="{{ squares.a7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b7 class="{{ squares.b7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b7.occupied_by %}#}
        {#                <img id=piece_atb7 src="{{ squares.b7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c7 class="{{ squares.c7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c7.occupied_by %}#}
        {#                <img id=piece_atc7 src="{{ squares.c7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d7 class="{{ squares.d7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d7.occupied_by %}#}
        {#                <img id=piece_atd7 src="{{ squares.d7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e7 class="{{ squares.e7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e7.occupied_by %}#}
        {#                <img id=piece_ate7 src="{{ squares.e7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f7 class="{{ squares.f7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f7.occupied_by %}#}
        {#                <img id=piece_atf7 src="{{ squares.f7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g7 class="{{ squares.g7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g7.occupied_by %}#}
        {#                <img id=piece_atg7 src="{{ squares.g7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h7 class="{{ squares.h7.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h7.occupied_by %}#}
        {#                <img id=piece_ath7 src="{{ squares.h7.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a6 class="{{ squares.a6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a6.occupied_by %}#}
        {#                <img id=piece_ata6 src="{{ squares.a6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b6 class="{{ squares.b6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b6.occupied_by %}#}
        {#                <img id=piece_atb6 src="{{ squares.b6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c6 class="{{ squares.c6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c6.occupied_by %}#}
        {#                <img id=piece_atc6 src="{{ squares.c6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d6 class="{{ squares.d6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d6.occupied_by %}#}
        {#                <img id=piece_atd6 src="{{ squares.d6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e6 class="{{ squares.e6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e6.occupied_by %}#}
        {#                <img id=piece_ate6 src="{{ squares.e6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f6 class="{{ squares.f6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f6.occupied_by %}#}
        {#                <img id=piece_atf6 src="{{ squares.f6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g6 class="{{ squares.g6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g6.occupied_by %}#}
        {#                <img id=piece_atg6 src="{{ squares.g6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h6 class="{{ squares.h6.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h6.occupied_by %}#}
        {#                <img id=piece_ath6 src="{{ squares.h6.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a5 class="{{ squares.a5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a5.occupied_by %}#}
        {#                <img id=piece_ata5 src="{{ squares.a5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b5 class="{{ squares.b5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b5.occupied_by %}#}
        {#                <img id=piece_atb5 src="{{ squares.b5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c5 class="{{ squares.c5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c5.occupied_by %}#}
        {#                <img id=piece_atc5 src="{{ squares.c5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d5 class="{{ squares.d5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d5.occupied_by %}#}
        {#                <img id=piece_atd5 src="{{ squares.d5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e5 class="{{ squares.e5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e5.occupied_by %}#}
        {#                <img id=piece_ate5 src="{{ squares.e5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f5 class="{{ squares.f5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f5.occupied_by %}#}
        {#                <img id=piece_atf5 src="{{ squares.f5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g5 class="{{ squares.g5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g5.occupied_by %}#}
        {#                <img id=piece_atg5 src="{{ squares.g5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h5 class="{{ squares.h5.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h5.occupied_by %}#}
        {#                <img id=piece_ath5 src="{{ squares.h5.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a4 class="{{ squares.a4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a4.occupied_by %}#}
        {#                <img id=piece_ata4 src="{{ squares.a4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b4 class="{{ squares.b4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b4.occupied_by %}#}
        {#                <img id=piece_atb4 src="{{ squares.b4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c4 class="{{ squares.c4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c4.occupied_by %}#}
        {#                <img id=piece_atc4 src="{{ squares.c4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d4 class="{{ squares.d4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d4.occupied_by %}#}
        {#                <img id=piece_atd4 src="{{ squares.d4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e4 class="{{ squares.e4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e4.occupied_by %}#}
        {#                <img id=piece_ate4 src="{{ squares.e4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f4 class="{{ squares.f4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f4.occupied_by %}#}
        {#                <img id=piece_atf4 src="{{ squares.f4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g4 class="{{ squares.g4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g4.occupied_by %}#}
        {#                <img id=piece_atg4 src="{{ squares.g4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h4 class="{{ squares.h4.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h4.occupied_by %}#}
        {#                <img id=piece_ath4 src="{{ squares.h4.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a3 class="{{ squares.a3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a3.occupied_by %}#}
        {#                <img id=piece_ata3 src="{{ squares.a3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b3 class="{{ squares.b3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b3.occupied_by %}#}
        {#                <img id=piece_atb3 src="{{ squares.b3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c3 class="{{ squares.c3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c3.occupied_by %}#}
        {#                <img id=piece_atc3 src="{{ squares.c3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d3 class="{{ squares.d3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d3.occupied_by %}#}
        {#                <img id=piece_atd3 src="{{ squares.d3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e3 class="{{ squares.e3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e3.occupied_by %}#}
        {#                <img id=piece_ate3 src="{{ squares.e3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f3 class="{{ squares.f3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f3.occupied_by %}#}
        {#                <img id=piece_atf3 src="{{ squares.f3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g3 class="{{ squares.g3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g3.occupied_by %}#}
        {#                <img id=piece_atg3 src="{{ squares.g3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h3 class="{{ squares.h3.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h3.occupied_by %}#}
        {#                <img id=piece_ath3 src="{{ squares.h3.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a2 class="{{ squares.a2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a2.occupied_by %}#}
        {#                <img id=piece_ata2 src="{{ squares.a2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b2 class="{{ squares.b2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b2.occupied_by %}#}
        {#                <img id=piece_atb2 src="{{ squares.b2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c2 class="{{ squares.c2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c2.occupied_by %}#}
        {#                <img id=piece_atc2 src="{{ squares.c2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d2 class="{{ squares.d2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d2.occupied_by %}#}
        {#                <img id=piece_atd2 src="{{ squares.d2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e2 class="{{ squares.e2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e2.occupied_by %}#}
        {#                <img id=piece_ate2 src="{{ squares.e2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f2 class="{{ squares.f2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f2.occupied_by %}#}
        {#                <img id=piece_atf2 src="{{ squares.f2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g2 class="{{ squares.g2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g2.occupied_by %}#}
        {#                <img id=piece_atg2 src="{{ squares.g2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h2 class="{{ squares.h2.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h2.occupied_by %}#}
        {#                <img id=piece_ath2 src="{{ squares.h2.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=a1 class="{{ squares.a1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.a1.occupied_by %}#}
        {#                <img id=piece_ata1 src="{{ squares.a1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=b1 class="{{ squares.b1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.b1.occupied_by %}#}
        {#                <img id=piece_atb1 src="{{ squares.b1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=c1 class="{{ squares.c1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.c1.occupied_by %}#}
        {#                <img id=piece_atc1 src="{{ squares.c1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=d1 class="{{ squares.d1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.d1.occupied_by %}#}
        {#                <img id=piece_atd1 src="{{ squares.d1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=e1 class="{{ squares.e1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.e1.occupied_by %}#}
        {#                <img id=piece_ate1 src="{{ squares.e1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=f1 class="{{ squares.f1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.f1.occupied_by %}#}
        {#                <img id=piece_atf1 src="{{ squares.f1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=g1 class="{{ squares.g1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.g1.occupied_by %}#}
        {#                <img id=piece_atg1 src="{{ squares.g1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}
        {#        <div id=h1 class="{{ squares.h1.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">#}
        {#            {% if squares.h1.occupied_by %}#}
        {#                <img id=piece_ath1 src="{{ squares.h1.occupied_by }}" draggable="true" ondragstart="drag(event)">#}
        {#            {% endif %}#}
        {#        </div>#}


    </div>

</main>

</body>
</html>