{% load filters_collection %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FEN Reader</title>
    {% csrf_token %}
    <link rel="stylesheet" href="/static/css/board-styles.css">
    <script type="text/javascript" src="/static/scripts/board-drag-script.js"></script>

</head>
<body>
<header></header>
<main>
{{ squares }}
    <div class="board">
        {% for square_data in squares_data %}
            <div id='{{ square_data.name }}' class="{{ square_data.color }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                {% if square_data.occupied_by %}
                    <img id='{{ square_data.occupied_by }}{{ square_data.name }}' src="/static/pieces/{{ request.user.piece_preference }}/{{ square_data.occupied_by }}" draggable="true" ondragstart="drag(event)">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div>{{ last_move }}</div>
</main>
</body>
</html>